<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
  <center>
  <h1>User List</h1>
</center>
<a href="/users/register">NEW</a>
  <table>
    <tr>
      <th>No</th>
      <th>Username</th>
      <th>Fullname</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    <% let count = 1 %>
    <% users.forEach(function(user){ %>
      <tr>
        <td><%= count %></td>
        <td><%= user.username %></td>
        <td><%= user.fullname %></td>
        <td><%= user.email %></td>
        <td><a href="/users/edit/<%= user.id %>">Edit</a> | <a href="/users/delete/<%= user.id %>" onClick="confirm('Are you want to delete this record?')">Delete</a></td>
      </tr>
      <% count++ %>
    <% }) %>
  </table>
</body>
</html>
